<div class="jumbotron">
  <h1>RD Contacts</h1>
  <p>RDContacts is an opensource application that allow users to store its contacts. You can even create custom fields, but, for now, you cannot add custom information to contacts through the web interface, this feature is currently under development.</p>

  <h2>Here's our roadmap:</h2>

  <ul>
    <li>Add custom information for custom fields</li>
    <li>Add error pages</li>
    <li>Improve user profiles (more data, picture)</li>
    <li>Import contacts from third-party sources</li>
    <li>Improve password complexity</li>
    <li>Other little details</li>
  </ul>

  <h2>Acknowledgments</h2>
  <p>Special thanks for Resultados Digitais to offer me this test! I really hope to be part of the team!</p>

</div>
